.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    // background-image: url('https://i.ibb.co/Jdx0NbM/27797943-1552092604911964-5726697049196892277-o.jpg');
    background-size: cover;
  }