<div
  fxLayout="row wrap"
  fxLayoutAlign="start start"
  fxLayoutGap="20px"
  class="mt-10"
>
  >
  <mat-card
    [class.mat-elevation-z8]="true"
    *ngFor="let product of productData"
    class="card-size"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img
          mat-card-avatar
          src="https://i.ibb.co/Jdx0NbM/27797943-1552092604911964-5726697049196892277-o.jpg"
        />
      </div>
      <mat-card-title>Jewel Rana</mat-card-title>
      <mat-card-subtitle>Paikari.com</mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="product.productImageUrl">
      <img [src]="product.productImageUrl" />
    </div>

    <mat-card-content *ngIf="product">
      <h1>{{ product.productname }}</h1>
      <h3>BDT {{ product.productprice }} /Unit</h3>
      <h4>Minimum Order- {{ product.productquantity }}</h4>
      <p>{{ product.productDescription }}</p>
    </mat-card-content>
    <div fxLayoutAlign="end end">
      <mat-card-actions>
        <button
          class="cursor-pointer"
          color="primary"
          mat-fab
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
