<form [formGroup]="modForm">
  Value: {{modForm.value |json}}

  <hr>

  <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Type in product name "
        formControlName="title"
      />
      
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input
          type="text"
          matInput
          placeholder="Type in product name "
          formControlName="description"
        />
        
      </mat-form-field>
</form>