/* Structure */

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  mat-cell {
    display: flex !important;
    justify-content: center !important;
  }
  
  mat-header-cell {
    display: flex;
    justify-content: center;
  }
  mat-paginator {
    height: 64px !important;
  }
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }
  
  .fontSize-B {
      font-size: 20px !important;
  }
  
  a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.anchor-text {

}

a.anchor-text:hover {
    text-decoration: none;
}