<form [formGroup]="signinform">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    class="mt-164"
  >
    <div class="font-size-36 mb-48">Welcome to Paikari</div>
    <mat-card class="p-40" [class.mat-elevation-z10]="true">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="Type in Email"
              formControlName="email"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Type in passoword "
              formControlName="password"
            />
          </mat-form-field>
        </div>
        <div>
          <button
            type="submit"
            (click)="onSubmit()"
            mat-raised-button
            color="primary"
            class="w-180"
          >
            Login
          </button>
        </div>
      </div>
    </mat-card>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
      <div><a href="authentication/sign-up">Create Account</a></div>

    </div>
  </div>
</form>
