@import '~@angular/material/theming';
@import 'color.scss';
@include mat-core();

$paikari-primary: mat-palette($mat-teal, 900);
$paikari-accent: mat-palette($mat-brown, 700, 800, 900);
$paikari-warn: mat-palette($mat-red);

$paikari-theme: mat-light-theme($paikari-primary, $paikari-accent, $paikari-warn);

@include angular-material-theme($paikari-theme);
