<ngx-spinner></ngx-spinner>

<mat-toolbar
  class="h-80"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  color="primary"
>
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    class="cursor-pointer"
  >
    <span (click)="homeClick()">{{ title }}</span>
  </div>
  
      
  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="12px"
    class="cursor-pointer"
  >
    <div>
      <button mat-button (click)="notificationClick()">
        <mat-icon class="mat-icon-size"> notification_important </mat-icon>
      </button>      
    </div>

    <div>
      <button mat-button (click)="shoppingCartClick()">
        <mat-icon class="mat-icon-size"> shopping_cart </mat-icon>
      </button>    
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="mat-icon-size"> account_circle </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div>
          <button mat-menu-item (click)="myAccountClick()">My Account</button>
        </div>
        <div>
          <button mat-menu-item (click)="myOrderClick()">My Order</button>
        </div>
        <div>
          <button mat-menu-item (click)="transactionHistoryClick()">Transaction History</button>
        </div>
        <div>
          <button mat-menu-item (click)="signOutClick()">Sign Out</button>
        </div>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
